<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Camera>
    <MonikerString>@device:pnp:\\?\usb#vid_046d&amp;pid_082d&amp;mi_00#7&amp;3158886&amp;0&amp;0000#{65e8773d-8f56-11d0-a3b9-00a0c9223196}\{bbefb6c7-2fc4-4139-bb8b-a58bba724083}</MonikerString>
  </Camera>
  <ClippingRectangle>
    <Location>
      <X>76.140292275574126</X>
      <Y>268.55803757828807</Y>
    </Location>
    <Size>
      <Width>1741.6112734864303</Width>
      <Height>615.0342379958247</Height>
    </Size>
  </ClippingRectangle>
  <PatternSize>80</PatternSize>
  <PatternCountX>10</PatternCountX>
  <PatternCountY>7</PatternCountY>
  <ControlPointsMode>None</ControlPointsMode>
  <ShowWireframe>false</ShowWireframe>
  <ControlPointsInsideOverlap>false</ControlPointsInsideOverlap>
  <KeepCorners>true</KeepCorners>
  <ImmediateWarp>false</ImmediateWarp>
</Settings>